{% extends 'base.html' %}

{% block title %} | Home {% endblock %}

{% block content %}

{% load static %}

{% include 'includes/messages.html' %}

<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a href="{% url 'shop' %}">
						<img src="{% static 'images/shop/category/guitar-1.jpg' %}" alt="" />
						<div class="content">
							<h3>Guitar</h3>
							<p>Shop Now</p>
						</div>
					</a>	
				</div>
				<div class="category-box">
					<a href="{% url 'shop' %}">
						<img src="{% static 'images/shop/category/guitar-2.jpg' %}" alt="" />
						<div class="content">
							<h3>Bass</h3>
							<p>Shop now</p>
						</div>
					</a>	
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="{% url 'shop' %}">
						<img src="{% static 'images/shop/category/guitar-3.jpg' %}" alt="" />
						<div class="content">
							<h3>All Products</h3>
							<p>Shop now</p>
						</div>
					</a>	
				</div>
			</div>
		</div>
	</div>
</section>


<!--
Start Call To Action
==================================== -->
<section class="call-to-action bg-gray section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="title">
					<h2>SUBSCRIBE TO NEWSLETTER</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, <br> facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
				</div>
				<div class="col-lg-6 col-md-offset-3">
				    <div class="input-group subscription-form">
				      <input type="text" class="form-control" placeholder="Enter Your Email Address">
				      <span class="input-group-btn">
				        <button class="btn btn-main" type="button">Subscribe Now!</button>
				      </span>
				    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->

			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->


{% endblock %}
